* {
  box-sizing: border-box;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.logo-container {
  padding-left: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-box {
    color: MediumAquamarine;
    margin: 0px 10px;
}

nav {
  padding-right: 30px;
  display: inline-flex;
  color: black;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

span.nav {
  padding: 20px 10px;
}

a.nav {
  color: black;
}

main {
  position: absolute;
  margin-top: 80px;
  display: flex;
  border: 1px solid black;
}

.large {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  width: 630px;
}

.medium {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  width: 300px;
}

.small {
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  width: 240px;
}

.small-content {
  border: 1px solid black;
}

.medium-content {
  border: 1px solid black;
}

.large-content {
  border: 1px solid black;
}
