* {
  box-sizing: border-box;
}

/* header section */
header {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  z-index: 10;
}

.logo-container {
  padding-left: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
}

.logo-box {
    color: MediumAquamarine;
    margin: 0px 10px;
}

nav {
  padding-right: 30px;
  display: inline-flex;
  color: black;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}

span.nav {
  padding: 20px 10px;
}

a.nav {
  color: black;
}

/*main section*/
main {
  position: absolute;
  margin-top: 80px;
  display: flex;
  width: 1300px;
  justify-content: space-around;
  padding-top: 30px;
}

.large {
  display: flex;
  flex-flow: column;
  width: 630px;
}

.medium {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.small {
  display: flex;
  flex-flow: column;
  width: 240px;
}

/*story images*/
.story-title {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  display: flex;
  align-items: flex-start;
  height: 300px;
}

.story1 {
  background-image: url('./img/img-story-main.png');
  background-repeat: no-repeat;
}

.story2 {
  background-image: url('./img/img-story-2.png');
  background-repeat: no-repeat;
}

.story3 {
  background-image: url('./img/img-story-3.png');
  background-repeat: no-repeat;
}

.story4 {
  background-image: url('./img/img-story-1.png');
  background-repeat: no-repeat;
}

/*story divs*/
.main-story {
  display: block;
}

p.main-story {
  padding: 10px 0px;
}

.small-stories {
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  height: 600px;
}

.story {
  display: flex;
  flex-flow: column;
  width: 300px;
}

.small-story-text {
  height: 230px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.middle-story, .middle-story-text, .right-story-text {
  padding-top: 20px;
}

strong {
  font-weight: bold;
}
