header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

logo {
  display: flex;
  color: MediumAquamarine;
  align-items: center;
}

nav {
  display: flex;
  color: black;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
}
